@model Tuple<IEnumerable<MultiTables>, MultiTables, IEnumerable<Contactususer>>
@{ Layout = "~/views/shared/AdminLayout.cshtml"; }
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Registered User</p>
                    <h6 class="mb-0">@ViewBag.UserRegistered</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">@ViewBag.TodaySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Monthly Sale</p>
                    <h6 class="mb-0">@ViewBag.MontlySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Store</p>
                    <h6 class="mb-0">@ViewBag.TotalStore</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->
<!-- Sales Chart Start -->





<!-- Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Single Line Chart</h6>
                <canvas id="myChart" ></canvas>

                <script>

    var xValues = @Html.Raw(ViewBag.months);
    var yValues = @Html.Raw(ViewBag.saleMonth);
    var barColors = ["red", "green", "blue", "orange", "brown"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Sale For Each Month"
            }
        }
    });
                </script>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Multiple Line Chart</h6>
                <canvas id="salse-revenue"></canvas>
                <script>
                     var xValues = @Html.Raw(ViewBag.storeNames);
                      var yValues = @Html.Raw(ViewBag.sale);
                    var barColors = [
                        "#b91d47",
                        "#00aba9",
                        "#2b5797",
                        "#e8c3b9",
                        "#1e7145"
                    ];

                    new Chart("salse-revenue", {
                        type: "pie",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: "Sale For Each Store"
                            }
                        }
                    });
                </script>
            </div>
        </div>

       
    </div>
</div>
<!-- Chart End -->
<!-- Sales Chart End -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <form asp-action="GetOrderBySpecficDate" method="post" class="d-flex align-items-center justify-content-between w-75">
                DateFrom  <input class="form-control w-50" name="dateFrom" type="date" placeholder="Enter Name">
                DateTo <input class="form-control w-50" name="dateTo" type="date" placeholder="Enter Email">
                <button type="submit" class="btn btn-primary ml-3">Search</button>

            </form>


        </div>

        <div class="table-responsive">
            <table id="T" class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Order Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer Id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Finacal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {
        <tr>
            <td>@item.userorder.Id</td>
            <td>@item.userorder.Dateoforder</td>
            <td>@item.systemuser.Id</td>
            <td>@item.systemuser.Username</td>
            <td>@item.userorder.Cost</td>
            @if ((bool)item.userorder.IsCheckout)
            {
<td> Check out</td>
}
            @if (!(bool)item.userorder.IsCheckout)
            {
<td> Not Check out</td>
}

            <td> @Model.Item2.orderIsLoss[(int)item.userorder.Id] </td>



        </tr>
}


                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-lg-start mb-4">
            <form asp-action="GetOrderBySpecficDate" method="post" calss="p-4">
                <input hidden name="type" type="text" value="annule">
                <button type="submit" class="btn btn-primary m-3">Annule Report</button>

            </form>
            <form asp-action="GetOrderBySpecficDate" method="post">
                <input hidden name="type" type="text" value="monthly">
                <button type="submit" class="btn btn-primary m-3 ">Monthly Report</button>

            </form>

        </div>
    </div>
</div>
<!-- Recent Sales End -->
<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-12">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                </div>
                @foreach (var item in Model.Item3)
                {
    <div class="d-flex align-items-center border-bottom py-3">
        <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
        <div class="w-100 ms-3">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-0">@item.Username</h6>
                <small><a asp-action="replyMessage" asp-route-contactUserId="@item.Id">reply</a></small>
            </div>
            <span>@item.Message</span>
        </div>
    </div>}


            </div>
        </div>


    </div>
</div>


<!-- Widgets End -->
